@use './abstracts' as *;

.submitpage {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 1rem 12rem 1rem 12rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	min-height: 50vh;
	background-color: #fff;
	img {
		width: 50rem;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		textarea {
			width: 30rem;
			min-height: 7rem;
		}
	}
}
